.add-record-container {
  background-image: url('../assets/images/add-patient-info.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.patient-form-container {
  width: 90vw; 
  padding: 20px;
  border-radius: 15px;
  margin: 50px 85px 0px 75px !important;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.form {
  display: flex;
  flex-direction: column;
}

.add-patient-header {
  color: #193E64;
  text-align: center;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 45px 10px 45px;
}

.form-row:last-child {
  margin-bottom: 0;
}

.patient-form-container label {
  display: block;
  margin-bottom: 15px;
  text-align: left !important;
  align-items: flex-start !important;
  width: 100%;
  font-family: 'Slabo 27px', serif;
  font-size: larger;
}

.patient-form-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 25px;
  background-color: transparent !important;
}

.textField {
  width: calc(50% - 10px); /* Adjust width as needed */
}

.radio-label .MuiTypography-root {
  color: #043C81;
  font-family: 'PT Serif', serif !important;
}

.patient-form-container .button {
  /* position: relative; */
  padding: 10px 20px;
  width: 20% !important;
  text-align: center !important;
  /* text-decoration: none; */
  /* display: inline-block; */
  margin: 15px;
  text-transform: capitalize;
  background-color: #2c73ba;
  color: white;
  font-family: 'Merriweather', serif !important;
  border-radius: 5px;
  font-size: inherit !important;
}

.patient-form-container .button:hover {
  background-color: #0056b3;
  border-bottom: none !important;
}

.error-msg {
  color: red;
  font-family: 'PT Serif', serif;
  text-align: center;
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .textField {
    width: 100%;
  }
}
