.hero-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1000px !important;
}

.hero-container .bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-container .text-container {
  position: absolute;
  width: 700px !important;
  top: 15%;
  left: 73%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #193E64;
  letter-spacing: 1px;
  text-align: right !important;
}

.hero-container .text-container h1 {
  font-size: 3em;
  font-family: 'Playfair Display', serif;
}

.hero-container .text-container .find-btn {
  border: #193E64 2px solid;
  border-radius: 10px;
  padding: 10px;
  color: #193E64;
  text-transform: capitalize;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

.hero-container .text-container .find-btn:hover,
.hero-container .text-container .find-btn:hover::after {
  cursor: pointer;
  color: white;
  background-color: #193E64;
}

@media (max-width: 600px) {
  .hero-container {
    height: auto !important;
    margin-top: 170vh !important;
  }

  .hero-container .text-container {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    left: 0;
    right: 0;
  }

  .hero-container .text-container h1 {
    font-size: 1.5em;
    top: 5px;
  }

  .hero-container .text-container .find-btn {
    left: 0;
    right: 0;
    margin: 10px auto;
  }
}
